In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("crypto_data.csv")

In [4]:
data

,id,symbol,name,current_price,market_cap,total_volume,high_24h,low_24h,timestamp
0,bitcoin,btc,Bitcoin,95839.000000,1899380532923,25319241948,96481.000000,95113.000000,2025-02-24 11:44:56
1,ethereum,eth,Ethereum,2687.540000,324082497094,25657685571,2835.440000,2668.800000,2025-02-24 11:44:56
2,ripple,xrp,XRP,2.480000,143474422437,3286932773,2.590000,2.440000,2025-02-24 11:44:56
3,tether,usdt,Tether,1.000000,142426222666,32510737974,1.000000,0.999916,2025-02-24 11:44:56
4,binancecoin,bnb,BNB,640.750000,93479991946,759360227,661.210000,636.770000,2025-02-24 11:44:56
...,...,...,...,...,...,...,...,...,...
95,story-2,ip,Story,3.900000,966296177,326961957,4.400000,3.740000,2025-02-24 11:44:56
96,eos,eos,EOS,0.615902,934276143,73961502,0.648038,0.610844,2025-02-24 11:44:56
97,gala,gala,GALA,0.021197,915709685,80047879,0.022878,0.020921,2025-02-24 11:44:56
98,floki,floki,FLOKI,0.000090,873782873,120771980,0.000096,0.000089,2025-02-24 11:44:56
99,ethereum-name-service,ens,Ethereum Name Service,26.200000,868836021,74337183,27.860000,26.000000,2025-02-24 11:44:56

In [5]:
data.columns

Index(['id', 'symbol', 'name', 'current_price', 'market_cap', 'total_volume',
       'high_24h', 'low_24h', 'timestamp'],
      dtype='object')